.SliderContainer {
    margin: 1.2vh;
    flex-basis: 15%;
    position: relative;
    color: rgb(228, 220, 220);
}
.SliderContainer label {
  margin-right: 20px;
}
.Slider {
    -webkit-appearance: none;
    position: relative;
    height: 0.5vh;
    width: 15vw;
    border-radius: 5px;  
    background: rgb(83, 70, 83);
    box-sizing:content-box;
    border: 1px solid orange;
    outline: none;
    opacity: 0.7;
    display: block;
    transition: opacity .2s;
}

.Slider::-moz-range-progress {
    background: peru;
}


 .Slider::-moz-range-thumb  {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 3vh;
    border-radius: 10%;
    background:  rgb(83, 70, 83);
    border: 1px solid orange;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 3vh;
    border-radius: 10%;
    background:  rgb(83, 70, 83);
    border: 1px solid orange;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.Slider::-moz-range-thumb:hover {
    border: 1px solid white;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.Slider::-webkit-slider-thumb:hover {
    border: 1px solid white;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}
.Slider::after {
    transition: width 0.3s;
    content: '';
    position: absolute;
    z-index: -1;
    height: 0.5vh;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: peru;
}

[id=range]::after {
    width: var(--slider-fill-range);
}
[id=speed]::after {
    width: var(--slider-fill-speed);
}
    

.DisplayValue {
    padding-left: 20px;
    width: 3rem;
}

@media screen and (max-width: 1025px) {
   .SliderContainer {
       flex-direction: row!important;
       width: 90%;
   }
   .Slider {
       width: 80%;
       margin-left: 5%;
   }
   .DisplayValue {
      padding-left: 5%;
      width: 5%;
 }
 .SliderContainer label {
    margin-right: unset;
  }
}
@media screen and (max-height: 450px) and (orientation: landscape) {
    .SliderContainer {
        flex-direction: row!important;
        width: 90%;
        font-size: 0.6rem;
    }
}